* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EEAECA;
    background: linear-gradient(0deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 50%);
    height: 100vh;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
}

.content_box {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.perfil img {
    border-radius: 50%;
    border: 6px solid #fff;
}

.perfil h1{
    font-size: 1.4rem;
}

.perfil p{
    text-align: center;
    font-size: 0.875rem;
}

.content_box main {
    display: flex;
    flex-direction: column;
    gap:40px;
}


.links-principais ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-principais ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px solid #444;
    text-decoration: none;
    color: #444;
    padding: 10px;
    position: relative;
}

.links-principais .fundo_button{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: -999;
    top:-8px;
    right: 8px;
}

.links-principais ul a:hover{
    background-color: #fff;
    border: 2px solid #666;
    color: #666;
    transition: background-color 0.3s ease;
}

.links-principais ul a:hover .fundo_button{
    background-color: #3bff25;
}

.links-principais ul a i {
    border-right: 2px solid #444;
    padding-right: 30px;
}

.links-principais ul a span {
    flex-grow: 1;
    text-align: center;
}

.redes-sociais ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}

.redes-sociais ul a{
    color: #fff;
    font-size: 1.8rem;
}

.redes-sociais ul a.icon_twitter:hover {
    color: #222;
}

.redes-sociais ul a.icon_facebook:hover {
    color: #405bf5;
}

.redes-sociais ul a.icon_instagram:hover {
    color: #d832f9;
}

.redes-sociais ul a.icon_spotify:hover {
    color: #0f6901;
}

footer p {
    text-align: center;
    font-weight: 100;
}

.content_box_sobre {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.content_box_sobre main {
    display: flex;
    flex-direction: column;
    text-align: justify;
} 
.sobre-perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sobre-perfil a{
    color: #fff;
}

.sobre-perfil img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.sobre-perfil h1 {
    font-size: 1rem;
}

.content_box_sobre main img {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 12px;
}